/* Resetting default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    background-color: #f5f5f5;
    padding: 20px;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* Content Box */
section.content {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.box {
    background-color: #FF9800;
    color: white;
    padding: 25px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box h2 {
    font-size: 24px;
}

footer {
    background-color: #da952d;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Responsive for Screens Larger than 768px */
@media screen and (min-width: 769px) {
    .box {
        width: 70%;
        margin: 0 auto;
    }
}
